.tune-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.answer-container {
  transition: 0.3s;
}

.answer-container:hover {
  background-color: bisque !important;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .tune-img {
    height: 300px;
  }

  .min-vh-100 {
    min-height: 60vh !important;
  }
}
